*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: lavender;
}

/*      utility classes     */
.flex{
    display: flex;
    align-items: center;
}

.brand{
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: azure;
    filter: drop-shadow(1px 2px 4px yellow);
}

.greet{
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 400;
    color: midnightblue;
    letter-spacing: 2.5px;
    text-align: center;
}

.greet strong{
    font-weight: 500;
}

.title{
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(29, 21, 73, 0.842);
    letter-spacing: 1.4px;
}

.aboutContents{
    letter-spacing: 0.8px;
    font-size: 1.25rem;
    color: midnightblue;
    font-weight: 400;
    line-height: 1.78;
}

.contents{
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn{
    margin-top: 20px;
    font-size: 1.1rem;
    padding: 4px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: azure;
    background-color: rgb(255, 184, 51);
    transition: all 0.6s ease;
}

.btn a{
    text-decoration: none;
    color: azure;
}

.btn:hover{
    background-color: orangered;
}

/*      styling index.html file     */
nav{
    justify-content: space-between;
    padding: 8px 2rem;
    background-color: #323743;
}

.logo img{
    height: 6vh;
    border-radius: 50%;
    margin-right: 1rem;
}

nav .showUL{
    display: block;
}
nav .resBtn{
    display: none;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}
nav .showUL a{
    font-size: 1.3rem;
    color: azure;
    margin: 0px 2rem;
    padding: 0px 5px;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav .showUL a:hover{
    color: violet;
}

.container{
    padding: 1rem 2rem;
}

.aboutContainer{
    margin: 10px 0;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 30px;
}

.aboutContainer h3{
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: maroon;
}

.aboutContainer img{
    height: 45vh;
}

.exploreContainer{
    padding: 10px 0;
}

.box{
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 15px;
    text-align: center;
    transition: all 1s ease;
    border-radius: 10px;
    width: 30vw;
}

.box:hover{
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.box img{
    height: 20vh;
}

.contactContainer{
    padding: 10px;
    justify-content: space-around;
    background-color: #cbd9faa8;
    border-radius: 10px;
}

.left{
    flex-direction: column;
    padding: 1rem 3rem;
    background-color: lavender;
}

.icoRef{
    line-height: 1.8;
}
.left .icon{
    font-size: 1.7rem;
    color: red !important;
    margin-right: 2rem;
}
.left h4{
    font-size: 1.1rem;
    font-weight: 400;
    color: mediumblue;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.left h4:hover{
    text-decoration: underline;
    color: red;
}

.left img{
    height: 20vh;
    border-radius: 100%;
    margin-bottom: 15px;
}

.formContainer{
    background-color: lavender;
    width: 25vw;
    padding: 1.2rem;
    text-align: center;
}

.formContainer input,
.formContainer textarea{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

.formContainer textarea{
    height: 20vh;
    resize: none;
}

footer{
    background-color: #323743;
    padding: 15px;
    font-size: 1.1rem;
    text-align: center;
    color: azure;
    letter-spacing: 1.3px;
}


/*      making responsive to index  */
@media screen and (max-width: 1200px){
    .res{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 10px;
    }
    .brand{
        font-size: 10px;
    }

    .btn{
        font-size: 11px;
    }
    nav{
        padding: 5px 10px;
    }
    nav .resBtn{
        display: block;
    }

    nav .showUL{
        display: none;
        line-height: 1.6;
        text-align: right;
    }

    nav .showUL a{
        font-size: 15px;
        margin: 0px 6px;
        padding: 0;
    }

    .aboutContainer{
        padding: 5px 15px;
    }
    .title{
        font-size: 15px;
    }
    .greet{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .container h3{
        font-size: 13px;
    }
    .aboutContents{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .contents{
        font-size: 12px;
    }

    .container{
        padding: 5px 10px;
    }
    
    .aboutContainer img{
        height: 15vh;
        margin: 15px 0;
    }

    .box{
        width: 80%;
        margin: 18px 0;
    }

    .box img{
        height: 10vh;
    }

    .formContainer,
    .left{
        width: 80%;
        margin: 10px auto;
    }

    .left h4{
        font-size: 10px;
    }

    .left .icon{
        margin-right: 18px;
    }
    .formContainer input,
    .formContainer textarea{
        font-size: 11px;
    }

    footer{
        font-size: 11px;
    }

}